<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>TEST</h1>


<form action="/music/insert" method="post" enctype="multipart/form-data">
    title : <input type="text" name="title"> <br>
    vocal : <input type="text" name="vocal"> <br>
    composition : <input type="text" name="composition"> <br>
    musicType : <input type="text" name="musicType"> <br>
    musicFile : <input type="file" name="musicFile" multiple="multiple"> <br>
    musicMainImg : <input type="file" name="musicMainImg"> <br>
    <button type="submit">생성</button>
</form>

<img src="/file/kitten-g05ec8ae6f_640.jpg" alt="">

</body>
</html>